{% extends 'base.html.twig' %}

{% block title %}Kênh youtube của trung tâm ngoại ngữ Minh Anh {% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Anh văn Online</li>
  </ol>
</nav>

<!--Teaching Section-->
<div class="container-md padding">
  <div class="row-welcome text-center ">
    <div class="col-lg-4 mx-auto">
      <h2 class="minhanhcolor">Kênh Youtube của trung tâm Minh Anh</h2>
      <hr>
      <p>Kênh youtube được xây dựng nhầm phục vụ việc học tập cho học viên trung tâm và chia sẻ kiến thức cộng đồng.
      </p>
      <hr>
    </div>
  </div>
</div>

<div class="container-md padding">
  <div class="row-welcome text-center ">
    <div class="album py-5 ">
    <div class="container border">
      <div class="row mt-3">
      {% for video in videos_list %}
        {% if( video.getStatus() ) %}

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            {% autoescape 'html' %}
               {{ video.getLink()|raw }} 
            {% endautoescape %}
            <div class="card-body">
              <div class="row">

                <a href="#" class="minhanh_black_link_big">{{ video.getName() }}</a>
              </div>
              <p class="card-text"> {{ video.getDescription()[0:75] }} </p>
              <div class="d-flex justify-content-between align-items-center">

              </div>
            </div>
          </div>
        </div>

        

        {% endif %}
      {% endfor %}
      </div>
      <div class="row mt-3 ml-1">

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link btn-outline-minhanhcolor" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link btn-outline-minhanhcolor" href="#">1</a></li>
            <li class="page-item"><a class="page-link btn-outline-minhanhcolor" href="#">2</a></li>
            <li class="page-item"><a class="page-link btn-outline-minhanhcolor" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link btn-outline-minhanhcolor" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script language = "javascript"> 
  $("iframe").width("100%").height("auto");

</script> 
 


{% endblock %}
