{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="container-md text-center">

    <h1>Nội dung bạn tìm kiếm không có trên website</h1>

    <p>Vui lòng quay lại <a href="{{ path('index') }}"> trang chủ </a></p>
    <p>hoặc liên hệ <a href="{{ path('contactpage') }}"> liên hệ</a></p>
   
</div>
{% endblock %}
