{% extends 'base.html.twig' %}

{% block body %}
    <h1>Không tìm thấy nội dung</h1>

    <p>
        Vui lòng quay lại <a href="{{ path('homepage') }}">trang chủ Minh Anh</a>.
    </p>
{% endblock %}