{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<div class="container-md padding">
  <div class="article_heade text-center">
    <h1 class="article_title_big">Cách phát âm kiểu Mỹ</h1>
  </div>
  <div class="article_info text-center">
    <p>
      <label class="article_info">Nguồn: &nbsp</label>
      <label class="article_info">Trung tâm minh anh</label>
      <label class="article_info">&nbsp/&nbsp</label>
      <label class="article_info">10-12-2019</label></p>

  </div>
  <div class="article_body ">
      <img class="img-fluid" src="images/article1.jpg" alt="">
      <h2>Lorem ipsum dolor sit amet, consectetur</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.</p>
      <img class="img-fluid" src="images/article2.jpg" alt="">
      <h2>Lorem ipsum dolor sit amet, consectetur</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
          qui officia deserunt mollit anim id est laborum.</p>
      <img class="img-fluid" src="images/article3.jpg" alt="">
      <h2>Lorem ipsum dolor sit amet, consectetur</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                  qui officia deserunt mollit anim id est laborum.</p>


  </div>
  <div class="reference">
    <h6>Nguồn tham khảo:</h6>
    <ul>
      <li>https://www.google.com/search?q=in+nghieng+css&rlz=1C1CHBF_enVN848VN848&oq=in+nghieng+css&aqs=chrome..69i57j0l6.2274j0j7&sourceid=chrome&ie=UTF-8</li>
      <li>https://getbootstrap.com/docs/4.4/content/images/#aligning-images</li>
      <li>Wikipedia/abnc/dsfsdfj.php</li>
    </ul>
  </div>
  <div class="row">
    <div class="col-6 col-s-12">
      <h5>Có thể bạn quan tâm</h5>
      <ul class="course_list">
        <li><a href="#" class="minhanh_link_1">Phân biệt Anh Anh và Anh Mỹ &nbsp</a><label class="article_info">10-12-2019</label></li>
        <li><a href="#" class="minhanh_link_1">Tự học phát âm tại nhà có được không? &nbsp</a><label class="article_info">10-12-2019</label></li>
        <li><a href="#" class="minhanh_link_1">Bí kíp thi IELTS Speaking điểm cao &nbsp</a><label class="article_info">10-12-2019</label></li>
        <li><a href="#" class="minhanh_link_1">5 cuốn sách luyện thi ngữ âm bạn nên có &nbsp</a><label class="article_info">10-12-2019</label></li>
      </ul>
    </div>
    <div class="col-6 col-s-12">
      <h5>Minh Anh đào tạo:</h5>
      <ul class="course_list">
        <li><a href="#" class="minhanh_link_1">Đào tạo chứng chỉ anh văn A1 </a></li>
        <li><a href="#" class="minhanh_link_1">Đào tạo chứng chỉ anh văn A2 </a></li>
        <li><a href="#" class="minhanh_link_1">Đào tạo chứng chỉ anh văn B1 </a></li>
        <li><a href="#" class="minhanh_link_1">Đào tạo chứng chỉ anh văn B2 </a></li>
      </ul>
  </div>
    </div>
</div>
{% endblock %}
